@import "../../../../assets/styles/globals";

.Settings{
    position: absolute;
    background-image: $gradient;
    box-shadow: $large-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}