@import "../../assets/styles/globals";

.VideoFeed {
    position: absolute;
    background-image: $gradient;
    box-shadow: $large-shadow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}