@import"../../../../assets/styles/globals";

.Text {
    font-size: 17px;
    letter-spacing: -0.64px;
    text-shadow: 3px 3px 7px rgba(0,0,0,0.18);
    user-select: none;
}

.Unselected{
    color: $name-color;
}

.Selected{
    color: $selected-name-color;
}