<!doctype html>
<html>
    <body>
        <p>Sonicam Debug View</p>
        <img id="image">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://localhost:5000');
            socket.on('frame',function(frame) {
                const imageElm = document.getElementById('image');
                console.log(frame)
                imageElm.src = "data:image/jpeg;charset=utf-8;base64,"+frame;
            });
        </script>
    </body>
</html>