@import "../../assets/styles/globals";

.PersonContainer {
    position: absolute;
    background-image: $gradient;
    box-shadow: $large-shadow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}