.Person {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.PersonContainer {
    width: 100%;
    height: 100%;
}

.TextStatusContainer {
    position: absolute;
    bottom: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}