$background-color: #25266c;
$select-color: #C900FF;
$name-color: #5758C2;
$selected-name-color: #A9A9FF;
$extra-large-shadow: 0 2px 18px 9px rgba(0, 0, 0, 0.3);
$large-shadow: 0 8px 27px -8px rgba(0,0,0,0.50);
$small-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
$medium-shadow: 0 0 14px 4px rgba(0,0,0,0.22);
$gradient: linear-gradient(-180deg, #4E4FBF 0%, #3A3B8D 100%);
$orange-gradient: linear-gradient(0deg, #F89C34 0%, #FFE570 100%);
$red-gradient: linear-gradient(0deg, #FF3E82 0%, rgb(255, 155, 132) 100%);
$green-gradient: linear-gradient(0deg, #4BF48F 0%, rgb(91, 233, 224) 100%);
$green-gradient-light: linear-gradient(0deg, #4BF48F 0%, #9FFFC6 100%);

.Scrollable{
    overflow-x: scroll;
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
        display: none;
    }
}

.TextBackground {
    font-size: 68px;
    color: #25266C;
    letter-spacing: -.5px;
    text-shadow: 0 0 6px rgba(0,0,0,0.26);
}