.CircularChart {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(180deg);
  }
  
.Circle {
    fill: none;
    /*stroke-width: 2.8;*/
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
  
@keyframes progress {
0% {
    stroke-dasharray: 0 1000;
}
}